nodered/autopilot-dashboard.flows.json
[
  {
    "type": "tab",
    "label": "Autopilot",
    "id": "32739140ce85e012",
    "info": "Garmin Reactor controls. Modes/target/tack/gybe via SignalK V2 autopilot API; Garmin-specific steering patterns via v1 PUT (steering.autopilot.rudder.pattern).",
    "disabled": false
  },
  {
    "id": "a9f10100c0de0010",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0003",
    "name": "Standby",
    "label": "STANDBY",
    "order": 1,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "standby",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0011",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0003",
    "name": "Auto",
    "label": "AUTO (engage)",
    "order": 2,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "auto",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0012",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0003",
    "name": "Wind",
    "label": "WIND",
    "order": 3,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "wind",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0013",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0004",
    "name": "minus10",
    "label": "-10",
    "order": 1,
    "width": 1.5,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "-10",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 300,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0014",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0004",
    "name": "minus1",
    "label": "-1",
    "order": 2,
    "width": 1.5,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "-1",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0015",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0004",
    "name": "plus1",
    "label": "+1",
    "order": 3,
    "width": 1.5,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "+1",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 420,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0016",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0004",
    "name": "plus10",
    "label": "+10",
    "order": 4,
    "width": 1.5,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "+10",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 480,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0020",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "build request",
    "func": "const TOK = 'Bearer REPLACE_WITH_YOUR_SIGNALK_TOKEN';\nconst base = 'http://localhost/signalk/v2/api/vessels/self/autopilots/garminReactor';\nconst a = msg.payload;\nlet method = 'PUT', url, body;\nif (a === 'standby' || a === 'auto' || a === 'wind' || a === 'route') {\n    url = base + '/state';\n    body = { value: a };\n} else if (a === 'tack' || a === 'gybe') {\n    method = 'POST';\n    // direction in the path is required by the v2 API but ignored by the plugin,\n    // which picks the correct tack/gybe direction from the apparent wind.\n    url = base + '/' + a + '/starboard';\n    body = {};\n} else {\n    const map = { '+1': 0.0174533, '+10': 0.174533, '-1': -0.0174533, '-10': -0.174533 };\n    url = base + '/target/adjust';\n    body = { value: map[a] };\n}\nmsg.method = method;\nmsg.url = url;\nmsg.headers = { 'Authorization': TOK, 'Content-Type': 'application/json' };\nmsg.payload = body;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 280,
    "wires": [
      [
        "a9f10100c0de0021"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0021",
    "type": "http request",
    "z": "32739140ce85e012",
    "name": "PUT autopilot",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 640,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "a9f10100c0de0090",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "build pattern request",
    "func": "const TOK = 'Bearer REPLACE_WITH_YOUR_SIGNALK_TOKEN';\nmsg.method = 'PUT';\nmsg.url = 'http://localhost/signalk/v1/api/vessels/self/steering/autopilot/rudder/pattern';\nmsg.headers = { 'Authorization': TOK, 'Content-Type': 'application/json' };\nmsg.payload = { value: msg.payload };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 1320,
    "wires": [
      [
        "a9f10100c0de0021"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00A0",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0009",
    "name": "tack",
    "label": "TACK",
    "order": 1,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "tack",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1260,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00A1",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0009",
    "name": "gybe",
    "label": "GYBE",
    "order": 2,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "gybe",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1320,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B0",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "zigzag",
    "label": "ZIGZAG",
    "order": 1,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "zigzag",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1500,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B1",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "circlesPort",
    "label": "CIRCLES P",
    "order": 2,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "circles:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1560,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B2",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "circlesStbd",
    "label": "CIRCLES S",
    "order": 3,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "circles:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1620,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B3",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "uturnPort",
    "label": "U-TURN P",
    "order": 4,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "uturn:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1680,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B4",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "uturnStbd",
    "label": "U-TURN S",
    "order": 5,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "uturn:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1740,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B5",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "williamsonPort",
    "label": "WILLIAMSON P",
    "order": 6,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "williamson:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1800,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00B6",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000A",
    "name": "williamsonStbd",
    "label": "WILLIAMSON S",
    "order": 7,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "williamson:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1860,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C0",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "orbitPort",
    "label": "ORBIT P",
    "order": 1,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "orbit:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1920,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C1",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "orbitStbd",
    "label": "ORBIT S",
    "order": 2,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "orbit:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 1980,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C2",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "cloverleafPort",
    "label": "CLOVERLEAF P",
    "order": 3,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "cloverleaf:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 2040,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C3",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "cloverleafStbd",
    "label": "CLOVERLEAF S",
    "order": 4,
    "width": 3,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "cloverleaf:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 2100,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C4",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "searchPort",
    "label": "SEARCH P",
    "order": 5,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "search:port",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 2160,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de00C5",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de000B",
    "name": "searchStbd",
    "label": "SEARCH S",
    "order": 6,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "search:stbd",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 2220,
    "wires": [
      [
        "a9f10100c0de0090"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0050",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "heading",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "navigation.headingMagnetic",
    "source": "",
    "period": 500,
    "x": 300,
    "y": 540,
    "wires": [
      [
        "a9f10100c0de0043"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0043",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format heading",
    "func": "let v = msg.payload;\nif (v && typeof v === 'object' && 'value' in v) { v = v.value; }\nif (v === null || v === undefined || isNaN(v)) {\n    msg.payload = '---';\n} else {\n    let dd = v * 57.2958;\n    dd = ((dd % 360) + 360) % 360;\n    msg.payload = String(Math.round(dd)).padStart(3, '0') + String.fromCharCode(176) + ' M';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 540,
    "wires": [
      [
        "a9f10100c0de0044"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0044",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0006",
    "order": 1,
    "width": 6,
    "height": 2,
    "name": "Heading",
    "label": "Heading",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": true,
    "font": "",
    "fontSize": 52,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 720,
    "y": 540,
    "wires": []
  },
  {
    "id": "a9f10100c0de0051",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "ap target",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "steering.autopilot.target",
    "source": "",
    "period": 500,
    "x": 300,
    "y": 600,
    "wires": [
      [
        "a9f10100c0de0045",
        "a9f10100c0de0056"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0045",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format target",
    "func": "let t = msg.payload;\nif (t && typeof t === 'object' && 'value' in t) { t = t.value; }\nif (flow.get('apmode') !== 'auto' || t === null || t === undefined || isNaN(t)) {\n    msg.payload = '--';\n} else {\n    let dd = t * 57.2958;\n    dd = ((dd % 360) + 360) % 360;\n    msg.payload = String(Math.round(dd)).padStart(3, '0') + String.fromCharCode(176);\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 600,
    "wires": [
      [
        "a9f10100c0de0046"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0046",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0006",
    "order": 2,
    "width": 6,
    "height": 2,
    "name": "Target",
    "label": "Target",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": true,
    "font": "",
    "fontSize": 44,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 720,
    "y": 600,
    "wires": []
  },
  {
    "id": "a9f10100c0de0054",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "wind angle",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "environment.wind.angleApparent",
    "source": "",
    "period": 500,
    "x": 300,
    "y": 680,
    "wires": [
      [
        "a9f10100c0de0055"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0055",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format wind angle",
    "func": "let v = msg.payload;\nif (v && typeof v === 'object' && 'value' in v) { v = v.value; }\nif (v === null || v === undefined || isNaN(v)) {\n    msg.payload = '--';\n} else {\n    let dd = v * 57.2958;\n    let side = dd < 0 ? 'P' : 'S';\n    msg.payload = Math.abs(Math.round(dd)) + String.fromCharCode(176) + ' ' + side;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 680,
    "wires": [
      [
        "a9f10100c0de0058"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0058",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0007",
    "order": 1,
    "width": 6,
    "height": 2,
    "name": "Wind Angle",
    "label": "Wind Angle",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": true,
    "font": "",
    "fontSize": 48,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 730,
    "y": 680,
    "wires": []
  },
  {
    "id": "a9f10100c0de0056",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format desired wind",
    "func": "let t = msg.payload;\nif (t && typeof t === 'object' && 'value' in t) { t = t.value; }\nif (flow.get('apmode') !== 'wind' || t === null || t === undefined || isNaN(t)) {\n    msg.payload = '--';\n} else {\n    let dd = t * 57.2958;\n    let side = dd < 0 ? 'P' : 'S';\n    msg.payload = Math.abs(Math.round(dd)) + String.fromCharCode(176) + ' ' + side;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 740,
    "wires": [
      [
        "a9f10100c0de0059"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0059",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0007",
    "order": 2,
    "width": 6,
    "height": 2,
    "name": "Desired Wind Angle",
    "label": "Desired Wind Angle",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "style": true,
    "font": "",
    "fontSize": 44,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 760,
    "y": 740,
    "wires": []
  },
  {
    "id": "a9f10100c0de0052",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "ap state",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "steering.autopilot.state",
    "source": "",
    "period": 500,
    "x": 300,
    "y": 820,
    "wires": [
      [
        "a9f10100c0de0034",
        "a9f10100c0de0060"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0060",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "set apmode",
    "func": "let v = msg.payload;\nif (v && typeof v === 'object' && 'value' in v) { v = v.value; }\nflow.set('apmode', v);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 770,
    "wires": [
      []
    ]
  },
  {
    "id": "a9f10100c0de0034",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0005",
    "order": 1,
    "width": 2,
    "height": 1,
    "name": "Mode",
    "label": "Mode",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 18,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 520,
    "y": 820,
    "wires": []
  },
  {
    "id": "a9f10100c0de0053",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "ap engaged",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "steering.autopilot.engaged",
    "source": "",
    "period": 500,
    "x": 310,
    "y": 880,
    "wires": [
      [
        "a9f10100c0de0035"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0035",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format engaged",
    "func": "let v = msg.payload;\nif (v && typeof v === 'object' && 'value' in v) { v = v.value; }\nmsg.payload = v ? 'ENGAGED' : 'standby';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 880,
    "wires": [
      [
        "a9f10100c0de0036"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0036",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0005",
    "order": 2,
    "width": 2,
    "height": 1,
    "name": "Engaged",
    "label": "Engaged",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 18,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 530,
    "y": 880,
    "wires": []
  },
  {
    "id": "a9f10100c0de0061",
    "type": "signalk-subscribe",
    "z": "32739140ce85e012",
    "name": "rudder",
    "mode": "sendChanges",
    "flatten": true,
    "context": "vessels.self",
    "path": "steering.rudderAngle",
    "source": "",
    "period": 500,
    "x": 300,
    "y": 960,
    "wires": [
      [
        "a9f10100c0de0062"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0062",
    "type": "function",
    "z": "32739140ce85e012",
    "name": "format rudder",
    "func": "let v = msg.payload;\nif (v && typeof v === 'object' && 'value' in v) { v = v.value; }\nif (v === null || v === undefined || isNaN(v)) {\n    msg.payload = '--';\n} else {\n    let r = Math.round(v * 57.2958);\n    if (r === 0) {\n        msg.payload = '0' + String.fromCharCode(176);\n    } else {\n        let side = r < 0 ? 'P' : 'S';\n        msg.payload = Math.abs(r) + String.fromCharCode(176) + ' ' + side;\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 960,
    "wires": [
      [
        "a9f10100c0de0063"
      ]
    ]
  },
  {
    "id": "a9f10100c0de0063",
    "type": "ui-text",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0005",
    "order": 3,
    "width": 2,
    "height": 1,
    "name": "Rudder",
    "label": "Rudder",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": 18,
    "color": "",
    "wrapText": false,
    "className": "",
    "x": 520,
    "y": 1000,
    "wires": []
  },
  {
    "id": "a9f10100c0de0002",
    "type": "ui-page",
    "name": "Autopilot",
    "ui": "c493aa9353f716bf",
    "path": "/autopilot",
    "icon": "ship-wheel",
    "layout": "grid",
    "theme": "c152b5fa33b15f0c",
    "breakpoints": [
      {
        "name": "Default",
        "px": "0",
        "cols": "3"
      },
      {
        "name": "Tablet",
        "px": "576",
        "cols": "6"
      },
      {
        "name": "Small Desktop",
        "px": "768",
        "cols": "9"
      },
      {
        "name": "Desktop",
        "px": "1024",
        "cols": "12"
      }
    ],
    "order": 5,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0006",
    "type": "ui-group",
    "name": "Heading & Target",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "4",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0007",
    "type": "ui-group",
    "name": "Wind (wind hold)",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "4",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0005",
    "type": "ui-group",
    "name": "Autopilot Status",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "1",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0003",
    "type": "ui-group",
    "name": "Mode",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "2",
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0004",
    "type": "ui-group",
    "name": "Course Adjust - heading or wind (deg)",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "1",
    "order": 5,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0009",
    "type": "ui-group",
    "name": "Sailing (tack / gybe)",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "1",
    "order": 6,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de000A",
    "type": "ui-group",
    "name": "Powerboat Patterns",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "3",
    "order": 7,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de000B",
    "type": "ui-group",
    "name": "GPS Patterns (need active route)",
    "page": "a9f10100c0de0002",
    "width": "6",
    "height": "3",
    "order": 8,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false",
    "groupType": "default",
    "z": "32739140ce85e012"
  },
  {
    "id": "a9f10100c0de0017",
    "type": "ui-button",
    "z": "32739140ce85e012",
    "group": "a9f10100c0de0003",
    "name": "Route",
    "label": "ROUTE",
    "order": 4,
    "width": 2,
    "height": 1,
    "emulateClick": false,
    "tooltip": "Engage nav-follow toward the chartplotter's active waypoint",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "iconPosition": "left",
    "payload": "route",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "buttonColor": "",
    "textColor": "",
    "iconColor": "",
    "enableClick": true,
    "enablePointerdown": false,
    "pointerdownPayload": "",
    "pointerdownPayloadType": "str",
    "enablePointerup": false,
    "pointerupPayload": "",
    "pointerupPayloadType": "str",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "a9f10100c0de0020"
      ]
    ]
  }
]